LogicApp_ANSAEmailer.json
{
  "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
          "ANSA_JSFlattener_HttpTrigger": {
              "inputs": {
                  "body": {
                      "Exclusions": [
                          "FinalChecklist",
                          "RiskAssessmentChecklist",
                          "HealthChecklist_STAFF"
                      ],
                      "FullChecklists": {
                          "FinalChecklist": [
                              "RiskAssessmentsCompleted",
                              "ConsentToShareInfo",
                              "ProvidedWithRightsResponsibilities",
                              "ProvidedFeedbackComplaintsProc",
                              "FeedbackToReferrer"
                          ],
                          "HealthChecklist_STAFF": [
                              "Vaccinations",
                              "BBVScreening",
                              "SexualHealth",
                              "Dental"
                          ],
                          "RiskAssessmentChecklist": [
                              "IndicationMHRisks",
                              "IndicationSuicide",
                              "IndicationDV",
                              "PotentialOD"
                          ]
                      },
                      "SpreadUpAliasMap": {
                          "OtherAddictiveBehaviours": "OBehave",
                          "Past4WkEngagedInOtheractivities": "Engaged"
                      },
                      "SurveyData": "@body('Parse_EntityJSON')?['SurveyData']"
                  },
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['wordonlinebusiness']['connectionId']"
                    }
                  },
                  "method": "post",
                  "path": "/api/templates/getFile",
                  "queries": {
                    "drive": "b!TQEyQLwbT0-Z2YVgt8koSaI3_tjmJYpLlHwfJrThR2zyxCkjY3AESYjwhCrSdR6-",
                    "file": "01ZYEGLWABRNQ3USI4EVG37B4YAEOICYWO",
                    "source": "sites/directionshealth.sharepoint.com,4032014d-1bbc-4f4f-99d9-8560b7c92849,d8fe37a2-25e6-4b8a-947c-1f26b4e1476c"
                  }
                },
                "metadata": {
                  "01ZYEGLWABRNQ3USI4EVG37B4YAEOICYWO": "/ICT/ANSA/InitialAssessment_OwnUse1.docx",
                  "01ZYEGLWE37DDHSZXCHFA3JK4P35DQOQ65": "/ICT/ANSA/InitialAssessment_OwnUse.docx"
                },
                "runAfter": {},
                "type": "ApiConnection"
              },
              "type": "Function"
          },
          "Initialize_EngInOtherActivities_variable": {
              "inputs": {
                  "variables": [
                      {
                          "name": "EngagedInOtherActivities",
                          "type": "array"
                      }
                  ]
              },
              "runAfter": {
                  "Initialize_OtherAddictiveBehaviours_variable": [
                      "Succeeded"
                  ]
              },
              "type": "InitializeVariable"
          },
          "Initialize_FinalChecklist_variable": {
              "inputs": {
                  "variables": [
                      {
                          "name": "FinalCheckList",
                          "type": "array"
                      }
                  ]
              },
              "runAfter": {
                  "Initialize_OtherDrugsArray_variable": [
                      "Succeeded"
                  ]
              },
              "type": "InitializeVariable"
          },
          "Initialize_OtherAddictiveBehaviours_variable": {
              "inputs": {
                  "variables": [
                      {
                          "name": "OtherAddictiveBehavioursArray",
                          "type": "array"
                      }
                  ]
              },
              "runAfter": {
                  "Initialize_RiskAssessChecklist_variable": [
                      "Succeeded"
                  ]
              },
              "type": "InitializeVariable"
          },
          "Initialize_OtherDrugsArray_variable": {
              "inputs": {
                  "variables": [
                      {
                          "name": "OtherDrugsArray",
                          "type": "array"
                      }
                  ]
              },
              "runAfter": {
                  "Parse_EntityJSON": [
                      "Succeeded"
                  ]
              },
              "type": "InitializeVariable"
          },
          "Initialize_RiskAssessChecklist_variable": {
              "inputs": {
                  "variables": [
                      {
                          "name": "RiskAssessChecklist",
                          "type": "array"
                      }
                  ]
              },
              "runAfter": {
                  "Initialize_FinalChecklist_variable": [
                      "Succeeded"
                  ]
              },
              "type": "InitializeVariable"
          },
          "OwnUse_or_Other'sUse": {
              "actions": {
                  "IA_or_ITSP": {
                      "actions": {
                          "ODC_list_is_not_null": {
                              "actions": {
                                  "For_each_(loop_over_other_drugs)": {
                                      "actions": {
                                          "ODC_Drug_IsNull": {
                                              "actions": {
                                                  "Append_to_array_variable": {
                                                      "inputs": {
                                                          "name": "OtherDrugsArray",
                                                          "value": {
                                                              "daysin28": "@items('For_each_(loop_over_other_drugs)')?['DaysInLast28']",
                                                              "doc": "@items('For_each_(loop_over_other_drugs)')?['OtherSubstancesConcernGambling']",
                                                              "first": "@items('For_each_(loop_over_other_drugs)')?['AgeFirstUsed']",
                                                              "goals": "@items('For_each_(loop_over_other_drugs)')?['Goals']",
                                                              "howmuch": "@items('For_each_(loop_over_other_drugs)')?['HowMuchPerOccasion']",
                                                              "last": "@items('For_each_(loop_over_other_drugs)')?['AgeLastUsed']",
                                                              "method": "@items('For_each_(loop_over_other_drugs)')?['MethodOfUse']",
                                                              "units": "@items('For_each_(loop_over_other_drugs)')?['Units']"
                                                          }
                                                      },
                                                      "runAfter": {},
                                                      "type": "AppendToArrayVariable"
                                                  }
                                              },
                                              "expression": {
                                                  "and": [
                                                      {
                                                          "not": {
                                                              "equals": [
                                                                  "@items('For_each_(loop_over_other_drugs)')?['OtherSubstancesConcernGambling']",
                                                                  "@null"
                                                              ]
                                                          }
                                                      }
                                                  ]
                                              },
                                              "runAfter": {},
                                              "type": "If"
                                          }
                                      },
                                      "foreach": "@body('Parse_ODC')?['ODC']",
                                      "runAfter": {},
                                      "type": "Foreach"
                                  }
                              },
                              "expression": {
                                  "and": [
                                      {
                                          "not": {
                                              "equals": [
                                                  "@body('Parse_ODC')?['ODC']",
                                                  "@null"
                                              ]
                                          }
                                      }
                                  ]
                              },
                              "runAfter": {
                                  "Parse_ODC": [
                                      "Succeeded"
                                  ]
                              },
                              "type": "If"
                          },
                          "Parse_ODC": {
                              "inputs": {
                                  "content": "@body('ANSA_JSFlattener_HttpTrigger')",
                                  "schema": {
                                      "properties": {
                                          "ODC": {
                                              "items": {
                                                  "properties": {
                                                      "AgeFirstUsed": {
                                                          "type": "integer"
                                                      },
                                                      "AgeLastUsed": {
                                                          "type": "integer"
                                                      },
                                                      "DaysInLast28": {
                                                          "type": "string"
                                                      },
                                                      "Goals": {
                                                          "type": "string"
                                                      },
                                                      "HowMuchPerOccasion": {
                                                          "type": "string"
                                                      },
                                                      "MethodOfUse": {
                                                          "type": "string"
                                                      },
                                                      "OtherSubstancesConcernGambling": {
                                                          "type": "string"
                                                      },
                                                      "Units": {
                                                          "type": "string"
                                                      }
                                                  },
                                                  "type": "object"
                                              },
                                              "type": "array"
                                          }
                                      },
                                      "type": "object"
                                  }
                              },
                              "runAfter": {},
                              "type": "ParseJson"
                          },
                          "Populate_InitialAssess_OwnUse_Template": {
                              "inputs": {
                                  "body": {
                                      "26997496": "@body('Parse_OwnUse')?['OBehaveGamingDays']",
                                      "62071607": "@{body('Parse_CommonJSON')?['EverDiagnosedMentalHealthIssue']}",
                                      "114871574": "@{body('Parse_OwnUse')?['HaveYouEverSharedEquipment']}",
                                      "128751030": "@body('Parse_OwnUse')?['NotesODC']",
                                      "201827725": "@body('Parse_OwnUse')?['OBehaveHoardingDays']",
                                      "205447478": "@{body('Parse_OwnUse')?['Past4WkBeenArrested-Comment']}",
                                      "266972042": "@body('Parse_OwnUse')?['OBehaveInternetSocialMediaDays']",
                                      "316069438": "@body('Parse_OwnUse')?['HaveYouServedCustodialSentenceInPast-Comment']",
                                      "316618736": "@{body('Parse_CommonJSON')?['Past4WkBeenArrested']}",
                                      "327866034": "@body('Parse_CommonJSON')?['SubstanceUseITSPGoals']",
                                      "346451411": "@body('Parse_CommonJSON')?['YourCurrentHousing']",
                                      "411663172": "@{body('Parse_CommonJSON')?['EngagedPaidWorkFrequency']}",
                                      "542338601": "@body('Parse_OwnUse')?['SDSHowLongSinceLastInjected']",
                                      "653029831": "@body('Parse_CommonJSON')?['EngagedStudycollegeDays']",
                                      "666670811": "@{body('Parse_OwnUse')?['PDCAgeLastUsed']}",
                                      "693959756": "@body('Parse_OwnUse')?['HowCloseToManagingSubstanceUse']",
                                      "696205160": "@body('Parse_OwnUse')?['PDCMethodOfUse']",
                                      "781076903": "@body('Parse_CommonJSON')?['HowDoYouSpendTime']?['MeTime']",
                                      "793094988": "@body('Parse_CommonJSON')?['EverydayLivingITSPIssues']",
                                      "796569339": "@body('Parse_CommonJSON')?['LegalITSPGoals']",
                                      "816926137": "@body('Parse_CommonJSON')?['Past4WkDailyLivingImpacted']",
                                      "906960320": "@body('Parse_CommonJSON')?['HaveAnySocialSupport']",
                                      "937094657": "@body('Parse_CommonJSON')?['LegalITSPIssues']",
                                      "964079544": "@body('Parse_CommonJSON')?['MentalHealthITSPGoals']",
                                      "983889952": "@body('Parse_CommonJSON')?['PhysicalHealthITSPIssues']",
                                      "1023369850": "@body('Parse_CommonJSON')?['SupportTypeBestMatchesNeedsGoals']",
                                      "1027136184": "@body('Parse_CommonJSON')?['Past4WkHowOftenMentalHealthCausedProblems']",
                                      "1112704799": "@body('Parse_OwnUse')?['Notes-HowCloseToManagingSubstanceUse']",
                                      "1139916877": "@body('Parse_CommonJSON')?['HowImportantIsChangeToYou-Comment']",
                                      "1171911480": "@{body('Parse_CommonJSON')?['AreYouAccessingOtherServices']}",
                                      "1174156266": "@body('Parse_CommonJSON')?['HowDoYouSpendTime']?['FamilyHome']",
                                      "1245531911": "@body('Parse_CommonJSON')?['Past4WkUseLedToProblemsWithFamilyFriend']",
                                      "1252932495": "@body('Parse_OwnUse')?['PDCHowMuchPerOccasion']",
                                      "1311451641": "@body('Parse_CommonJSON')?['EngagedPaidWorkDays']",
                                      "1404188695": "@body('Parse_OwnUse')?['SDSHowMuchDoYouWorryAboutAODUse']",
                                      "1500857746": "@body('Parse_EntityJSON')?['Staff']",
                                      "1512721385": "@{body('Parse_CommonJSON')?['EngagedLookingafterchildrenFrequency']}",
                                      "1530985412": "@body('Parse_OwnUse')?['SDSHowDifficultToStopOrGoWithout']",
                                      "1537921105": "@body('Parse_CommonJSON')?['MedicationsNotes']",
                                      "1575171312": "@body('Parse_CommonJSON')?['RelationshipsITSPIssues']",
                                      "1619726781": "@body('Parse_OwnUse')?['HowSatisfiedWithProgress']",
                                      "1659965317": "@body('Parse_CommonJSON')?['Past4WkPhysicalHealth']",
                                      "1664896857": "@triggerBody()?['PartitionKey']",
                                      "1781839518": "@body('Parse_OwnUse')?['PDCDaysInLast28']",
                                      "1878117061": "@{body('Parse_CommonJSON')?['EngagedVoluntaryWorkFrequency']}",
                                      "1885833193": "@body('Parse_CommonJSON')?['HaveAnySocialSupport-Comment']",
                                      "1900629632": "@body('Parse_CommonJSON')?['ChildProtectionDetails']",
                                      "1953972708": "@body('Parse_OwnUse')?['SDSDoesMissingFixMakeAnxious']",
                                      "1966695205": "@body('Parse_CommonJSON')?['Past4WkHowOftenPhysicalHealthCausedProblems']",
                                      "1978343750": "@{body('Parse_CommonJSON')?['AreYouCurrentlyTakingMeds']}",
                                      "1990121010": "@body('Parse_CommonJSON')?['DoYouFeelSafeWhereYouLive']",
                                      "2047559863": "@body('Parse_OwnUse')?['SDSIsAODUseOutOfControl']",
                                      "2130126616": "@body('Parse_CommonJSON')?['Past4WkHaveYouViolenceAbusive-Comment']",
                                      "2135980665": "@{body('Parse_CommonJSON')?['SubjectToCourtOrdersOrPendingCharges']}",
                                      "2138217676": "@body('Parse_CommonJSON')?['HousingSafetyITSPGoals']",
                                      "-1001578934": "@body('Parse_CommonJSON')?['HowDoYouSpendTime']?['WorkOrStudy']",
                                      "-1004672977": "@{body('Parse_CommonJSON')?['EngagedStudycollegeFrequency']}",
                                      "-1010058312": "@body('Parse_CommonJSON')?['EverydayLivingITSPGoals']",
                                      "-1014680844": "@body('Parse_CommonJSON')?['HaveDVOrFamilySafetyConcerns-Comment']",
                                      "-1038276622": "@body('Parse_CommonJSON')?['SubstanceUseITSPIssues']",
                                      "-106733669": "@{body('Parse_CommonJSON')?['HaveYouServedCustodialSentenceInPast']}",
                                      "-1279867960": "@body('Parse_CommonJSON')?['ExternalReferrals']",
                                      "-1354485397": "@body('Parse_OwnUse')?['SDSDoYouWishToStop']",
                                      "-1358656635": "@body('Parse_OwnUse')?['PDCSubstanceOrGambling']",
                                      "-13616191": "@body('Parse_CommonJSON')?['HowDoYouSpendTime']?['HobbiesSportsRecreation']",
                                      "-1415785137": "@body('Parse_CommonJSON')?['HowDoYouSpendTime']?['MUTOther']",
                                      "-1496181211": "@{body('Parse_OwnUse')?['SDS_Score']}",
                                      "-15465926": "@body('Parse_CommonJSON')?['WhenMentalHealthDiagnosis-Comment']",
                                      "-1576208952": "@body('Parse_OwnUse')?['SubjectToCourtOrdersOrPendingCharges-Comment']",
                                      "-159392359": "@body('Parse_OwnUse')?['Past4WkNumInjectingDays']",
                                      "-1598100073": "@body('Parse_CommonJSON')?['AssessmentDate']",
                                      "-167262626": "@body('Parse_CommonJSON')?['EngagedVoluntaryWorkDays']",
                                      "-1682510468": "@body('Parse_CommonJSON')?['Past4WkQualityOfLifeScore-Comment']",
                                      "-1736537129": "@variables('OtherDrugsArray')",
                                      "-1756510528": "@body('Parse_CommonJSON')?['MHRecentRiskIssues']",
                                      "-176429660": "@body('Parse_OwnUse')?['PDCUnits']",
                                      "-1818106127": "@body('Parse_CommonJSON')?['PhysicalHealthITSPGoals']",
                                      "-1828812660": "@body('Parse_CommonJSON')?['Past4WkDifficultyFindingHousing']",
                                      "-1847476322": "@body('Parse_OwnUse')?['PDCSubstanceOrGambling']",
                                      "-1854180160": "@body('Parse_OwnUse')?['OBehaveGamblingDays']",
                                      "-1885937971": "@body('Parse_CommonJSON')?['Past4WkMentalHealth']",
                                      "-189608738": "@body('Parse_CommonJSON')?['HowDoYouSpendTime']?['OtherBehavioursDependence']",
                                      "-1917621831": "@body('Parse_CommonJSON')?['RelationshipsITSPGoals']",
                                      "-195469710": "@body('Parse_EntityJSON')?['SurveyName']",
                                      "-1990476858": "@body('Parse_CommonJSON')?['Past4WkBeenHospCallAmbulenceNotes']",
                                      "-2003271752": "@body('Parse_CommonJSON')?['MHHistoricalRiskIssues']",
                                      "-2100089575": "@{body('Parse_OwnUse')?['PDCAgeFirstUsed']}",
                                      "-2101782244": "@body('Parse_CommonJSON')?['Past4WkQualityOfLifeScore']",
                                      "-2121142563": "@body('Parse_CommonJSON')?['SupportFromWhichOtherServices']",
                                      "-256680379": "@{body('Parse_CommonJSON')?['Past4WkBeenHospCallAmbulence']}",
                                      "-295680140": "@{body('Parse_CommonJSON')?['NeedHelpWrkDevlpmntOrdrPayingOutstndngFines']}",
                                      "-295770225": "@body('Parse_CommonJSON')?['Past4WkHowOftenIllegalActivities']",
                                      "-431899672": "@{body('Parse_CommonJSON')?['EngagedOthercaregivingactivitiesFrequency']}",
                                      "-433441737": "@{body('Parse_CommonJSON')?['Past4WkHadCaregivingResponsibilities']}",
                                      "-472064755": "@{body('Parse_OwnUse')?['Past4WkAodRisks']}",
                                      "-496338364": "@body('Parse_CommonJSON')?['HaveDVOrFamilySafetyConcerns']",
                                      "-584386419": "@body('Parse_CommonJSON')?['HousingSafetyITSPIssues']",
                                      "-655069709": "@body('Parse_CommonJSON')?['HowDoYouSpendTime']?['AODSourcingUsing']",
                                      "-657151792": "@{body('Parse_CommonJSON')?['ChildProtectionConcerns']}",
                                      "-698153003": "@body('Parse_CommonJSON')?['MentalITSPIssues']",
                                      "-782496755": "@body('Parse_OwnUse')?['OBehaveSexDays']",
                                      "-831531146": "@body('Parse_CommonJSON')?['ClientType']",
                                      "-869373847": "@body('Parse_CommonJSON')?['Past4WkHaveYouViolenceAbusive']",
                                      "-874695542": "@body('Parse_EntityJSON')?['Program']",
                                      "-877159770": "@body('Parse_OwnUse')?['PDCGoals']",
                                      "-883635932": "@body('Parse_CommonJSON')?['EngagedLookingafterchildrenDays']",
                                      "-917859887": "@body('Parse_CommonJSON')?['EngagedOthercaregivingactivitiesDays']",
                                      "-931044969": "@body('Parse_CommonJSON')?['HowImportantIsChangeToYou']",
                                      "-983231251": "@body('Parse_CommonJSON')?['WhenMentalHealthDiagnosis']"
                                  },
                                  "host": {
                                      "connection": {
                                          "name": "@parameters('$connections')['wordonlinebusiness']['connectionId']"
                                      }
                                  },
                                  "method": "post",
                                  "path": "/api/templates/getFile",
                                  "queries": {
                                      "drive": "b!TQEyQLwbT0-Z2YVgt8koSaI3_tjmJYpLlHwfJrThR2zyxCkjY3AESYjwhCrSdR6-",
                                      "file": "01ZYEGLWABRNQ3USI4EVG37B4YAEOICYWO",
                                      "source": "sites/directionshealth.sharepoint.com,4032014d-1bbc-4f4f-99d9-8560b7c92849,d8fe37a2-25e6-4b8a-947c-1f26b4e1476c"
                                  }
                              },
                              "metadata": {
                                  "01ZYEGLWABRNQ3USI4EVG37B4YAEOICYWO": "/ICT/ANSA/InitialAssessment_OwnUse1.docx",
                                  "01ZYEGLWE37DDHSZXCHFA3JK4P35DQOQ65": "/ICT/ANSA/InitialAssessment_OwnUse.docx"
                              },
                              "runAfter": {
                                  "ODC_list_is_not_null": [
                                      "Succeeded"
                                  ]
                              },
                              "type": "ApiConnection"
                          },
                          "Send_an_email_(V2)_2": {
                              "inputs": {
                                  "body": {
                                      "Attachments": [
                                          {
                                              "ContentBytes": "@{base64(body('Populate_InitialAssess_OwnUse_Template'))}",
                                              "Name": "InitialAssessment_@{triggerBody()?['PartitionKey']}_OwnUse.docx"
                                          },
                                          {
                                              "ContentBytes": "@{base64(body('Populate_a_ITSP_template'))}",
                                              "Name": "ITSP_@{triggerBody()?['PartitionKey']}_OwnUse.docx"
                                          }
                                      ],
                                      "Body": "<p>Please ensure the attached summary is uploaded to the client file.<br>\n<br>\nSLK : @{triggerBody()?['PartitionKey']} &nbsp;Client ID: @{body('Parse_CommonJSON')?['ClientID']}<br>\nProgram: @{body('Parse_EntityJSON')?['Program']}<br>\nStatus: @{body('Parse_EntityJSON')?['Status']}<br>\n<br>\nPrincipal Drug:  <br>\n<br>\nSubmitted Date/Time: @{body('Parse_CommonJSON')?['CreatedDatetime']}</p>",
                                      "Cc": "ansa@directionshealth.com",
                                      "From": "directions.admin@directionshealth.com",
                                      "Subject": "@{body('Parse_EntityJSON')?['SurveyName']} for SLK: @{triggerBody()?['PartitionKey']}",
                                      "To": "@{body('Parse_EntityJSON')?['Staff']}@directionshealth.com"
                                  },
                                  "host": {
                                      "connection": {
                                          "name": "@parameters('$connections')['office365']['connectionId']"
                                      }
                                  },
                                  "method": "post",
                                  "path": "/v2/Mail"
                              },
                              "runAfter": {
                                  "Populate_InitialAssess_OwnUse_Template": [
                                      "Succeeded"
                                  ]
                              },
                              "type": "ApiConnection"
                          }
                      },
                      "else": {
                          "actions": {
                              "Populate_ITSP_OwnUse_Template": {
                                  "inputs": {
                                      "body": {
                                          "8567941": "@body('Parse_CommonJSON')?['FinalChecklist']?['ProvidedFeedbackComplaintsProc']",
                                          "26997496": "@body('Parse_OwnUse')?['OBehaveGamingDays']",
                                          "114871574": "@{body('Parse_OwnUse')?['HaveYouEverSharedEquipment']}",
                                          "128751030": "@body('Parse_OwnUse')?['NotesODC']",
                                          "201827725": "@body('Parse_OwnUse')?['OBehaveHoardingDays']",
                                          "266972042": "@body('Parse_OwnUse')?['OBehaveInternetSocialMediaDays']",
                                          "316618736": "@{body('Parse_OwnUse')?['Past4WkBeenArrested']}",
                                          "327866034": "@body('Parse_CommonJSON')?['SubstanceUseITSPGoals']",
                                          "346451411": "@body('Parse_CommonJSON')?['YourCurrentHousing']",
                                          "411663172": "@{body('Parse_CommonJSON')?['EngagedPaidWorkFrequency']}",
                                          "542338601": "@body('Parse_OwnUse')?['HowLongSinceLastInjected']",
                                          "653029831": "@body('Parse_CommonJSON')?['EngagedStudycollegeDays']",
                                          "666670811": "@{body('Parse_OwnUse')?['PDCAgeLastUsed']}",
                                          "693959756": "@body('Parse_OwnUse')?['HowCloseToManagingSubstanceUse']",
                                          "696205160": "@body('Parse_OwnUse')?['PDCMethodOfUse']",
                                          "793094988": "@body('Parse_CommonJSON')?['EverydayLivingITSPIssues']",
                                          "796569339": "@body('Parse_CommonJSON')?['LegalITSPGoals']",
                                          "816926137": "@body('Parse_CommonJSON')?['Past4WkDailyLivingImpacted']",
                                          "906960320": "@body('Parse_CommonJSON')?['HaveAnySocialSupport']",
                                          "937094657": "@body('Parse_CommonJSON')?['LegalITSPIssues']",
                                          "964079544": "@body('Parse_CommonJSON')?['MentalHealthITSPGoals']",
                                          "983889952": "@body('Parse_CommonJSON')?['PhysicalHealthITSPIssues']",
                                          "1023369850": "@body('Parse_CommonJSON')?['SupportTypeBestMatchesNeedsGoals']",
                                          "1027136184": "@body('Parse_CommonJSON')?['Past4WkHowOftenMentalHealthCausedProblems']",
                                          "1139916877": "@body('Parse_CommonJSON')?['HowImportantIsChangeToYou-Comment']",
                                          "1171911480": "@{body('Parse_CommonJSON')?['AreYouAccessingOtherServices']}",
                                          "1200125471": "@body('Parse_CommonJSON')?['RiskAssessmentChecklist']?['PotentialOD']",
                                          "1245531911": "@body('Parse_CommonJSON')?['Past4WkUseLedToProblemsWithFamilyFriend']",
                                          "1252932495": "@body('Parse_OwnUse')?['PDCHowMuchPerOccasion']",
                                          "1311451641": "@body('Parse_CommonJSON')?['EngagedPaidWorkDays']",
                                          "1404188695": "@body('Parse_OwnUse')?['SDSHowMuchDoYouWorryAboutAODUse']",
                                          "1500857746": "@body('Parse_EntityJSON')?['Staff']",
                                          "1512721385": "@{body('Parse_CommonJSON')?['EngagedLookingafterchildrenFrequency']}",
                                          "1530985412": "@body('Parse_OwnUse')?['SDSHowDifficultToStopOrGoWithout']",
                                          "1537921105": "@body('Parse_CommonJSON')?['MedicationsNotes']",
                                          "1575171312": "@body('Parse_CommonJSON')?['RelationshipsITSPIssues']",
                                          "1659965317": "@body('Parse_CommonJSON')?['Past4WkPhysicalHealth']",
                                          "1664896857": "@{body('Parse_CommonJSON')?['ClientID']}",
                                          "1781839518": "@body('Parse_OwnUse')?['PDCDaysInLast28']",
                                          "1878117061": "@{body('Parse_CommonJSON')?['EngagedVoluntaryWorkFrequency']}",
                                          "1885833193": "@body('Parse_CommonJSON')?['HaveAnySocialSupport-Comment']",
                                          "1900629632": "@body('Parse_CommonJSON')?['ChildProtectionDetails']",
                                          "1953972708": "@body('Parse_OwnUse')?['SDSDoesMissingFixMakeAnxious']",
                                          "1966695205": "@body('Parse_CommonJSON')?['Past4WkHowOftenPhysicalHealthCausedProblems']",
                                          "1978343750": "@{body('Parse_CommonJSON')?['AreYouCurrentlyTakingMeds']}",
                                          "1990121010": "@body('Parse_CommonJSON')?['DoYouFeelSafeWhereYouLive']",
                                          "2047559863": "@body('Parse_OwnUse')?['SDSIsAODUseOutOfControl']",
                                          "2138217676": "@body('Parse_CommonJSON')?['HousingSafetyITSPGoals']",
                                          "-1001578934": "@body('Parse_CommonJSON')?['HowDoYouSpendTime']?['WorkOrStudy']",
                                          "-1004672977": "@{body('Parse_CommonJSON')?['EngagedStudycollegeFrequency']}",
                                          "-1010058312": "@body('Parse_CommonJSON')?['EverydayLivingITSPGoals']",
                                          "-1014680844": "@body('Parse_CommonJSON')?['HaveDVOrFamilySafetyConcerns-Comment']",
                                          "-1038276622": "@body('Parse_CommonJSON')?['SubstanceUseITSPIssues']",
                                          "-1038819709": "@body('Parse_CommonJSON')?['RiskAssessmentChecklist']?['IndicationDV']",
                                          "-1279867960": "@body('Parse_CommonJSON')?['ExternalReferrals']",
                                          "-1354485397": "@body('Parse_OwnUse')?['SDSDoYouWishToStop']",
                                          "-13616191": "@body('Parse_CommonJSON')?['HowDoYouSpendTime']?['HobbiesSportsRecreation']",
                                          "-1415785137": "@body('Parse_CommonJSON')?['HowDoYouSpendTime']?['MUTOther']",
                                          "-1496181211": "@{body('Parse_OwnUse')?['SDS_Score']}",
                                          "-159392359": "@body('Parse_OwnUse')?['Past4WkNumInjectingDays']",
                                          "-1598100073": "@body('Parse_CommonJSON')?['AssessmentDate']",
                                          "-1642492951": "@body('Parse_CommonJSON')?['RiskAssessmentChecklist']?['IndicationSuicide']",
                                          "-167262626": "@body('Parse_CommonJSON')?['EngagedVoluntaryWorkDays']",
                                          "-1682510468": "@body('Parse_CommonJSON')?['Past4WkQualityOfLifeScore-Comment']",
                                          "-1736537129": "@variables('OtherDrugsArray')",
                                          "-1756510528": "@body('Parse_CommonJSON')?['MHRecentRiskIssues']",
                                          "-176429660": "@body('Parse_OwnUse')?['PDCUnits']",
                                          "-1818106127": "@body('Parse_CommonJSON')?['PhysicalHealthITSPGoals']",
                                          "-1828812660": "@body('Parse_CommonJSON')?['Past4WkDifficultyFindingHousing']",
                                          "-1847476322": "@body('Parse_OwnUse')?['PDCSubstanceOrGambling']",
                                          "-1854180160": "@body('Parse_OwnUse')?['OBehaveGamblingDays']",
                                          "-1885937971": "@body('Parse_CommonJSON')?['Past4WkMentalHealth']",
                                          "-1917621831": "@body('Parse_CommonJSON')?['RelationshipsITSPGoals']",
                                          "-1928953041": "@body('Parse_CommonJSON')?['ClientType']",
                                          "-195469710": "@body('Parse_EntityJSON')?['SurveyName']",
                                          "-1990476858": "@body('Parse_CommonJSON')?['Past4WkBeenHospCallAmbulenceNotes']",
                                          "-2100089575": "@{body('Parse_OwnUse')?['PDCAgeFirstUsed']}",
                                          "-2101782244": "@body('Parse_CommonJSON')?['Past4WkQualityOfLifeScore']",
                                          "-2121142563": "@body('Parse_CommonJSON')?['SupportFromWhichOtherServices']",
                                          "-223766317": "@body('Parse_OwnUse')?['PDCSubstanceOrGambling']",
                                          "-256680379": "@{body('Parse_CommonJSON')?['Past4WkBeenHospCallAmbulence']}",
                                          "-295680140": "@{body('Parse_OwnUse')?['NeedHelpWrkDevlpmntOrdrPayingOutstndngFines']}",
                                          "-295770225": "@body('Parse_OwnUse')?['Past4WkHowOftenIllegalActivities']",
                                          "-431899672": "@{body('Parse_CommonJSON')?['EngagedOthercaregivingactivitiesFrequency']}",
                                          "-433441737": "@{body('Parse_CommonJSON')?['Past4WkHadCaregivingResponsibilities']}",
                                          "-472064755": "@body('Parse_OwnUse')?['Past4WkAodRisks']",
                                          "-496338364": "@body('Parse_CommonJSON')?['HaveDVOrFamilySafetyConcerns']",
                                          "-553697523": "@body('Parse_CommonJSON')?['FinalChecklist']?['FeedbackToReferrer']",
                                          "-584386419": "@body('Parse_CommonJSON')?['HousingSafetyITSPIssues']",
                                          "-655069709": "@body('Parse_CommonJSON')?['HowDoYouSpendTime']?['AODSourcingUsing']",
                                          "-657151792": "@{body('Parse_CommonJSON')?['ChildProtectionConcerns']}",
                                          "-674338160": "@body('Parse_CommonJSON')?['RiskAssessmentChecklist']?['IndicationMHRisks']",
                                          "-698153003": "@body('Parse_CommonJSON')?['MentalITSPIssues']",
                                          "-737630564": "@body('Parse_CommonJSON')?['RiskAssessmentNotes']",
                                          "-782496755": "@body('Parse_OwnUse')?['OBehaveSexDays']",
                                          "-810102905": "@body('Parse_CommonJSON')?['FinalChecklist']?['ProvidedWithRightsResponsibilities']",
                                          "-859591113": "@body('Parse_CommonJSON')?['FinalChecklist']?['ConsentToShareInfo']",
                                          "-869373847": "@body('Parse_CommonJSON')?['Past4WkHaveYouViolenceAbusive']",
                                          "-874695542": "@body('Parse_EntityJSON')?['Program']",
                                          "-877159770": "@body('Parse_OwnUse')?['PDCGoals']",
                                          "-883635932": "@body('Parse_CommonJSON')?['EngagedLookingafterchildrenDays']",
                                          "-894037910": "@body('Parse_CommonJSON')?['FinalChecklist']?['RiskAssessmentsCompleted']",
                                          "-917859887": "@body('Parse_CommonJSON')?['EngagedOthercaregivingactivitiesDays']",
                                          "-931044969": "@body('Parse_CommonJSON')?['HowImportantIsChangeToYou']"
                                      },
                                      "host": {
                                          "connection": {
                                              "name": "@parameters('$connections')['wordonlinebusiness']['connectionId']"
                                          }
                                      },
                                      "method": "post",
                                      "path": "/api/templates/getFile",
                                      "queries": {
                                          "drive": "b!TQEyQLwbT0-Z2YVgt8koSaI3_tjmJYpLlHwfJrThR2zyxCkjY3AESYjwhCrSdR6-",
                                          "file": "01ZYEGLWB2UDPK4J2MG5DYPYT2KSUAV2YG",
                                          "source": "sites/directionshealth.sharepoint.com,4032014d-1bbc-4f4f-99d9-8560b7c92849,d8fe37a2-25e6-4b8a-947c-1f26b4e1476c"
                                      }
                                  },
                                  "metadata": {
                                      "01ZYEGLWB2UDPK4J2MG5DYPYT2KSUAV2YG": "/ICT/ANSA/ITSP_Review_OwnUse.docx",
                                      "01ZYEGLWFJCP64HR6OUBBIY5TNHGB3ULAJ": "/ICT/ANSA/InitialAssessment_OthersUse.docx"
                                  },
                                  "runAfter": {},
                                  "type": "ApiConnection"
                              },
                              "Send_an_email_(V2)": {
                                  "inputs": {
                                      "body": {
                                          "Attachments": [
                                              {
                                                  "ContentBytes": "@{base64(body('Populate_ITSP_OwnUse_Template'))}",
                                                  "Name": "ITSPSummary_@{triggerBody()?['PartitionKey']}_OwnUse.docx"
                                              },
                                              {
                                                  "ContentBytes": "@{base64(body('Populate_a_ITSP_template'))}",
                                                  "Name": "ITSP_@{triggerBody()?['PartitionKey']}_OwnUse.docx"
                                              }
                                          ],
                                          "Body": "<p>Please ensure the attached summary is uploaded to the client file.<br>\n<br>\nSLK : @{triggerBody()?['PartitionKey']} &nbsp;Client ID: @{body('Parse_CommonJSON')?['ClientID']}<br>\n<br>\nProgram: @{body('Parse_EntityJSON')?['Program']}<br>\nStatus: @{body('Parse_EntityJSON')?['Status']}<br>\n<br>\nPrincipal Drug: <br>\n<br>\nSubmitted Date/Time: @{body('Parse_CommonJSON')?['CreatedDatetime']}</p>",
                                          "Cc": "ansa@directionshealth.com",
                                          "From": "directions.admin@directionshealth.com",
                                          "Subject": "@{body('Parse_EntityJSON')?['SurveyName']} for SLK: @{triggerBody()?['PartitionKey']}",
                                          "To": "@{body('Parse_EntityJSON')?['Staff']}@directionshealth.com"
                                      },
                                      "host": {
                                          "connection": {
                                              "name": "@parameters('$connections')['office365']['connectionId']"
                                          }
                                      },
                                      "method": "post",
                                      "path": "/v2/Mail"
                                  },
                                  "runAfter": {
                                      "Populate_ITSP_OwnUse_Template": [
                                          "Succeeded"
                                      ]
                                  },
                                  "type": "ApiConnection"
                              }
                          }
                      },
                      "expression": {
                          "and": [
                              {
                                  "contains": [
                                      "@triggerBody()?['RowKey']",
                                      "INAS"
                                  ]
                              }
                          ]
                      },
                      "runAfter": {
                          "Populate_a_ITSP_template": [
                              "Succeeded"
                          ]
                      },
                      "type": "If"
                  },
                  "Parse_OwnUse": {
                      "inputs": {
                          "content": "@body('ANSA_JSFlattener_HttpTrigger')",
                          "schema": {
                              "properties": {
                                  "HaveYouEverInjected": {
                                      "type": "boolean"
                                  },
                                  "HaveYouEverSharedEquipment": {
                                      "type": "boolean"
                                  },
                                  "HaveYouServedCustodialSentenceInPast": {
                                      "type": "boolean"
                                  },
                                  "HaveYouServedCustodialSentenceInPast-Comment": {
                                      "type": "string"
                                  },
                                  "HowCloseToManagingSubstanceUse": {
                                      "type": "string"
                                  },
                                  "HowLongSinceLastInjected": {
                                      "type": "string"
                                  },
                                  "HowSatisfiedWithProgress": {
                                      "type": "string"
                                  },
                                  "NeedHelpWrkDevlpmntOrdrPayingOutstndngFines": {
                                      "type": "boolean"
                                  },
                                  "Notes-HowCloseToManagingSubstanceUse": {
                                      "type": "string"
                                  },
                                  "NotesODC": {
                                      "type": "string"
                                  },
                                  "OBehaveGamblingDays": {
                                      "type": "string"
                                  },
                                  "OBehaveGamingDays": {
                                      "type": "string"
                                  },
                                  "OBehaveHoardingDays": {
                                      "type": "string"
                                  },
                                  "OBehaveInternetSocialMediaDays": {
                                      "type": "string"
                                  },
                                  "OBehaveOtherDays": {
                                      "type": "string"
                                  },
                                  "OBehaveSexDays": {
                                      "type": "string"
                                  },
                                  "PDCAgeFirstUsed": {
                                      "type": "integer"
                                  },
                                  "PDCAgeLastUsed": {
                                      "type": "integer"
                                  },
                                  "PDCDaysInLast28": {
                                      "type": "string"
                                  },
                                  "PDCGoals": {
                                      "type": "string"
                                  },
                                  "PDCHowMuchPerOccasion": {
                                      "type": "string"
                                  },
                                  "PDCMethodOfUse": {
                                      "type": "string"
                                  },
                                  "PDCSubstanceOrGambling": {
                                      "type": "string"
                                  },
                                  "PDCUnits": {
                                      "type": "string"
                                  },
                                  "Past4WkAnyOtherAddictiveB": {
                                      "type": "boolean"
                                  },
                                  "Past4WkAodRisks": {
                                      "type": "string"
                                  },
                                  "Past4WkAodRisks-Comment": {
                                      "type": "string"
                                  },
                                  "Past4WkBeenArrested": {
                                      "type": "boolean"
                                  },
                                  "Past4WkBeenArrested-Comment": {
                                      "type": "boolean"
                                  },
                                  "Past4WkHowOftenIllegalActivities": {
                                      "type": "string"
                                  },
                                  "Past4WkNumInjectingDays": {
                                      "type": "string"
                                  },
                                  "SDSDoYouWishToStop": {
                                      "type": "string"
                                  },
                                  "SDSDoesMissingFixMakeAnxious": {
                                      "type": "string"
                                  },
                                  "SDSHowDifficultToStopOrGoWithout": {
                                      "type": "string"
                                  },
                                  "SDSHowMuchDoYouWorryAboutAODUse": {
                                      "type": "string"
                                  },
                                  "SDSIsAODUseOutOfControl": {
                                      "type": "string"
                                  },
                                  "SDS_Score": {
                                      "type": "integer"
                                  },
                                  "SubjectToCourtOrdersOrPendingCharges": {
                                      "type": "boolean"
                                  },
                                  "SubjectToCourtOrdersOrPendingCharges-Comment": {
                                      "type": "string"
                                  }
                              },
                              "type": "object"
                          }
                        ],
                        "Body": "<p>Please ensure the attached summary is uploaded to the client file.<br>\n<br>\nSLK : @{triggerBody()?['PartitionKey']} &nbsp;Client ID: @{body('Parse_CommonJSON')?['ClientID']}<br>\n<br>\nProgram: @{body('Parse_EntityJSON')?['Program']}<br>\nStatus: @{body('Parse_EntityJSON')?['Status']}<br>\nClient Type: @{body('Parse_CommonJSON')?['ClientType']}<br>\n<br>\nSubmitted Date/Time: @{body('Parse_CommonJSON')?['CreatedDatetime']}</p>",
                        "Cc": "atom@directionshealth.com",
                        "From": "directions.admin@directionshealth.com",
                        "Importance": "Normal",
                        "Subject": "ITSP Review; Program:@{body('Parse_EntityJSON')?['Program']}; SLK: @{triggerBody()?['PartitionKey']}",
                        "To": "ansa@directionshealth.com"
                      },
                      "runAfter": {},
                      "type": "ParseJson"
                  },
                  "Populate_a_ITSP_template": {
                      "inputs": {
                          "body": {
                              "50195058": "@body('Parse_CommonJSON')?['AssessmentDate']",
                              "469331166": "@body('Parse_CommonJSON')?['ExternalReferrals']",
                              "484592442": "@body('Parse_CommonJSON')?['SubstanceUseITSPIssues']",
                              "1064995651": "@triggerBody()?['PartitionKey']",
                              "1113486158": "@body('Parse_EntityJSON')?['Program']",
                              "1291707187": "@body('Parse_CommonJSON')?['HousingSafetyITSPIssues']",
                              "1471096236": "@body('Parse_CommonJSON')?['PhysicalHealthITSPGoals']",
                              "1607530346": "@body('Parse_CommonJSON')?['SubstanceUseITSPGoals']",
                              "1967853575": "@{body('Parse_CommonJSON')?['ClientID']}",
                              "-1017778733": "@body('Parse_CommonJSON')?['MentalHealthITSPGoals']",
                              "-1024936368": "@body('Parse_CommonJSON')?['EverydayLivingITSPIssues']",
                              "-1025090099": "@body('Parse_CommonJSON')?['MentalITSPIssues']",
                              "-1051228907": "@body('Parse_CommonJSON')?['HousingSafetyITSPGoals']",
                              "-1320800798": "@body('Parse_CommonJSON')?['SupportFromWhichOtherServices']",
                              "-1442369389": "@body('Parse_CommonJSON')?['LegalITSPGoals']",
                              "-1447848428": "@body('Parse_CommonJSON')?['EverydayLivingITSPGoals']",
                              "-1470898058": "@body('Parse_EntityJSON')?['Staff']",
                              "-1657986283": "@body('Parse_CommonJSON')?['RelationshipsITSPIssues']",
                              "-1758742333": "@body('Parse_CommonJSON')?['SupportTypeBestMatchesNeedsGoals']",
                              "-1911766616": "@body('Parse_CommonJSON')?['RelationshipsITSPGoals']",
                              "-2035716507": "@body('Parse_CommonJSON')?['PhysicalHealthITSPIssues']",
                              "-371149731": "@body('Parse_CommonJSON')?['ClientType']",
                              "-724138621": "@body('Parse_CommonJSON')?['LegalITSPIssues']"
                          },
                          "host": {
                              "connection": {
                                  "name": "@parameters('$connections')['wordonlinebusiness']['connectionId']"
                              }
                          },
                          "method": "post",
                          "path": "/api/templates/getFile",
                          "queries": {
                              "drive": "b!TQEyQLwbT0-Z2YVgt8koSaI3_tjmJYpLlHwfJrThR2zyxCkjY3AESYjwhCrSdR6-",
                              "file": "01ZYEGLWBE2VL5OU6P2NDIDU4WBVYYGVOH",
                              "source": "sites/directionshealth.sharepoint.com,4032014d-1bbc-4f4f-99d9-8560b7c92849,d8fe37a2-25e6-4b8a-947c-1f26b4e1476c"
                          }
                      },
                      "metadata": {
                          "01ZYEGLWBE2VL5OU6P2NDIDU4WBVYYGVOH": "/ICT/ANSA/ITSP Template.docx"
                      },
                      "runAfter": {
                          "Parse_OwnUse": [
                              "Succeeded"
                          ]
                      },
                      "type": "ApiConnection"
                  }
              },
              "else": {
                  "actions": {
                      "IA_or_ITSP_Others": {
                          "actions": {
                              "Populate_a_Initial_Asses_OthersUse_template": {
                                  "inputs": {
                                      "body": {
                                          "8567941": "@body('Parse_CommonJSON')?['FinalChecklist']?['ProvidedFeedbackComplaintsProc']",
                                          "62071607": "@{body('Parse_CommonJSON')?['EverDiagnosedMentalHealthIssue']}",
                                          "346451411": "@body('Parse_CommonJSON')?['YourCurrentHousing']",
                                          "642325203": "@{body('Parse_Other''sUseJSON')?['LegalIssuesDueToOthersUse']}",
                                          "693959756": "@body('Parse_Other''sUseJSON')?['HowCloseToManagingImpactOfOthersUse']",
                                          "793094988": "@body('Parse_CommonJSON')?['EverydayLivingITSPIssues']",
                                          "796569339": "@body('Parse_CommonJSON')?['LegalITSPGoals']",
                                          "816926137": "@body('Parse_CommonJSON')?['Past4WkDailyLivingImpacted']",
                                          "906960320": "@body('Parse_CommonJSON')?['HaveAnySocialSupport']",
                                          "937094657": "@body('Parse_CommonJSON')?['LegalITSPIssues']",
                                          "964079544": "@body('Parse_CommonJSON')?['MentalHealthITSPGoals']",
                                          "983889952": "@body('Parse_CommonJSON')?['PhysicalHealthITSPIssues']",
                                          "1023369850": "@body('Parse_CommonJSON')?['SupportTypeBestMatchesNeedsGoals']",
                                          "1027136184": "@body('Parse_CommonJSON')?['Past4WkHowOftenMentalHealthCausedProblems']",
                                          "1171911480": "@{body('Parse_CommonJSON')?['AreYouAccessingOtherServices']}",
                                          "1200125471": "@body('Parse_CommonJSON')?['RiskAssessmentChecklist']?['PotentialOD']",
                                          "1245531911": "@body('Parse_CommonJSON')?['Past4WkUseLedToProblemsWithFamilyFriend']",
                                          "1500857746": "@body('Parse_EntityJSON')?['Staff']",
                                          "1537921105": "@body('Parse_CommonJSON')?['MedicationsNotes']",
                                          "1575171312": "@body('Parse_CommonJSON')?['RelationshipsITSPIssues']",
                                          "1659965317": "@body('Parse_CommonJSON')?['Past4WkPhysicalHealth']",
                                          "1664896857": "@{body('Parse_CommonJSON')?['ClientID']}",
                                          "1705897813": "@body('Parse_Other''sUseJSON')?['ManagingImpactOfOthersAODUse']",
                                          "1900629632": "@body('Parse_CommonJSON')?['ChildProtectionDetails']",
                                          "1966695205": "@body('Parse_CommonJSON')?['Past4WkHowOftenPhysicalHealthCausedProblems']",
                                          "1978343750": "@{body('Parse_CommonJSON')?['AreYouCurrentlyTakingMeds']}",
                                          "1985272862": "@body('Parse_Other''sUseJSON')?['Relationship']",
                                          "1990121010": "@body('Parse_CommonJSON')?['DoYouFeelSafeWhereYouLive']",
                                          "2138217676": "@body('Parse_CommonJSON')?['HousingSafetyITSPGoals']",
                                          "-1010058312": "@body('Parse_CommonJSON')?['EverydayLivingITSPGoals']",
                                          "-1038819709": "@body('Parse_CommonJSON')?['RiskAssessmentChecklist']?['IndicationDV']",
                                          "-1255975963": "@body('Parse_Other''sUseJSON')?['Notes-HowCloseToManagingImpactOfOthersUse']",
                                          "-1274246640": "@triggerBody()?['PartitionKey']",
                                          "-1279867960": "@body('Parse_CommonJSON')?['ExternalReferrals']",
                                          "-1598100073": "@body('Parse_CommonJSON')?['AssessmentDate']",
                                          "-1642492951": "@body('Parse_CommonJSON')?['RiskAssessmentChecklist']?['IndicationSuicide']",
                                          "-1682510468": "@body('Parse_CommonJSON')?['Past4WkQualityOfLifeScore-Comment']",
                                          "-1756510528": "@body('Parse_CommonJSON')?['MHRecentRiskIssues']",
                                          "-1818106127": "@body('Parse_CommonJSON')?['PhysicalHealthITSPGoals']",
                                          "-1828812660": "@body('Parse_CommonJSON')?['Past4WkDifficultyFindingHousing']",
                                          "-1885937971": "@body('Parse_CommonJSON')?['Past4WkMentalHealth']",
                                          "-1917621831": "@body('Parse_CommonJSON')?['RelationshipsITSPGoals']",
                                          "-1928953041": "@body('Parse_CommonJSON')?['ClientType']",
                                          "-195469710": "@body('Parse_EntityJSON')?['SurveyName']",
                                          "-1990476858": "@body('Parse_CommonJSON')?['Past4WkBeenHospCallAmbulanceNotes']",
                                          "-2003271752": "@body('Parse_CommonJSON')?['MHHistoricalRiskIssues']",
                                          "-2101782244": "@body('Parse_CommonJSON')?['Past4WkQualityOfLifeScore']",
                                          "-2121142563": "@body('Parse_CommonJSON')?['SupportFromWhichOtherServices']",
                                          "-256680379": "@{body('Parse_CommonJSON')?['Past4WkBeenHospCallAmbulence']}",
                                          "-266549602": "@body('Parse_Other''sUseJSON')?['SetBoundariesPrioritiseWellbeing']",
                                          "-433441737": "@{body('Parse_CommonJSON')?['Past4WkHadCaregivingResponsibilities']}",
                                          "-496338364": "@body('Parse_CommonJSON')?['HaveDVOrFamilySafetyConcerns']",
                                          "-553697523": "@body('Parse_CommonJSON')?['FinalChecklist']?['FeedbackToReferrer']",
                                          "-584386419": "@body('Parse_CommonJSON')?['HousingSafetyITSPIssues']",
                                          "-657151792": "@{body('Parse_CommonJSON')?['ChildProtectionConcerns']}",
                                          "-674338160": "@body('Parse_CommonJSON')?['RiskAssessmentChecklist']?['IndicationMHRisks']",
                                          "-698153003": "@body('Parse_CommonJSON')?['MentalITSPIssues']",
                                          "-737630564": "@body('Parse_CommonJSON')?['RiskAssessmentNotes']",
                                          "-810102905": "@body('Parse_CommonJSON')?['FinalChecklist']?['ProvidedWithRightsResponsibilities']",
                                          "-859591113": "@body('Parse_CommonJSON')?['FinalChecklist']?['ConsentToShareInfo']",
                                          "-869373847": "@body('Parse_CommonJSON')?['Past4WkHaveYouViolenceAbusive']",
                                          "-874695542": "@body('Parse_EntityJSON')?['Program']",
                                          "-894037910": "@body('Parse_CommonJSON')?['FinalChecklist']?['RiskAssessmentsCompleted']"
                                      },
                                      "host": {
                                          "connection": {
                                              "name": "@parameters('$connections')['wordonlinebusiness']['connectionId']"
                                          }
                                      },
                                      "method": "post",
                                      "path": "/api/templates/getFile",
                                      "queries": {
                                          "drive": "b!TQEyQLwbT0-Z2YVgt8koSaI3_tjmJYpLlHwfJrThR2zyxCkjY3AESYjwhCrSdR6-",
                                          "file": "01ZYEGLWFJCP64HR6OUBBIY5TNHGB3ULAJ",
                                          "source": "sites/directionshealth.sharepoint.com,4032014d-1bbc-4f4f-99d9-8560b7c92849,d8fe37a2-25e6-4b8a-947c-1f26b4e1476c"
                                      }
                                  },
                                  "metadata": {
                                      "01ZYEGLWFJCP64HR6OUBBIY5TNHGB3ULAJ": "/ICT/ANSA/InitialAssessment_OthersUse.docx"
                                  },
                                  "runAfter": {},
                                  "type": "ApiConnection"
                              },
                              "Send_an_email_(V2)_3": {
                                  "inputs": {
                                      "body": {
                                          "Attachments": [
                                              {
                                                  "ContentBytes": "@{base64(body('Populate_a_Initial_Asses_OthersUse_template'))}",
                                                  "Name": "InitialAssessment_@{triggerBody()?['PartitionKey']}_@{triggerBody()?['RowKey']}_OthersUse.docx"
                                              },
                                              {
                                                  "ContentBytes": "@{base64(body('Populate_ANSA_ITSP_template'))}",
                                                  "Name": "ITSP_@{triggerBody()?['PartitionKey']}_@{triggerBody()?['RowKey']}_OthersUse.docx"
                                              }
                                          ],
                                          "Body": "<p>Please ensure the attached summary is uploaded to the client file.<br>\n<br>\nSLK : @{triggerBody()?['PartitionKey']} &nbsp;Client ID: @{body('Parse_CommonJSON')?['ClientID']}<br>\n<br>\nProgram: @{body('Parse_EntityJSON')?['Program']}<br>\nStatus: @{body('Parse_EntityJSON')?['Status']}<br>\nClient Type: @{body('Parse_CommonJSON')?['ClientType']}<br>\n<br>\nSubmitted Date/Time: @{body('Parse_CommonJSON')?['CreatedDatetime']}</p>",
                                          "Cc": "ansa@directionshealth.com",
                                          "From": "directions.admin@directionshealth.com",
                                          "Subject": "Initial Assessment; Program:@{body('Parse_EntityJSON')?['Program']}; SLK: @{triggerBody()?['PartitionKey']}",
                                          "To": "@{body('Parse_EntityJSON')?['Staff']}@directionshealth.com"
                                      },
                                      "host": {
                                          "connection": {
                                              "name": "@parameters('$connections')['office365']['connectionId']"
                                          }
                                      },
                                      "method": "post",
                                      "path": "/v2/Mail"
                                  },
                                  "runAfter": {
                                      "Populate_a_Initial_Asses_OthersUse_template": [
                                          "Succeeded"
                                      ]
                                  },
                                  "type": "ApiConnection"
                              }
                          },
                          "else": {
                              "actions": {
                                  "Populate_ITSP_Summary_OthersUse": {
                                      "inputs": {
                                          "body": {
                                              "8567941": "@body('Parse_CommonJSON')?['FinalChecklist']?['ProvidedFeedbackComplaintsProc']",
                                              "62071607": "@{body('Parse_CommonJSON')?['EverDiagnosedMentalHealthIssue']}",
                                              "346451411": "@body('Parse_CommonJSON')?['YourCurrentHousing']",
                                              "642325203": "@{body('Parse_Other''sUseJSON')?['LegalIssuesDueToOthersUse']}",
                                              "693959756": "@body('Parse_Other''sUseJSON')?['HowCloseToManagingImpactOfOthersUse']",
                                              "793094988": "@body('Parse_CommonJSON')?['EverydayLivingITSPIssues']",
                                              "796569339": "@body('Parse_CommonJSON')?['LegalITSPGoals']",
                                              "816926137": "@body('Parse_CommonJSON')?['Past4WkDailyLivingImpacted']",
                                              "906960320": "@body('Parse_CommonJSON')?['HaveAnySocialSupport']",
                                              "937094657": "@body('Parse_CommonJSON')?['LegalITSPIssues']",
                                              "964079544": "@body('Parse_CommonJSON')?['MentalHealthITSPGoals']",
                                              "983889952": "@body('Parse_CommonJSON')?['PhysicalHealthITSPIssues']",
                                              "1023369850": "@body('Parse_CommonJSON')?['SupportTypeBestMatchesNeedsGoals']",
                                              "1027136184": "@body('Parse_CommonJSON')?['Past4WkHowOftenMentalHealthCausedProblems']",
                                              "1171911480": "@{body('Parse_CommonJSON')?['AreYouAccessingOtherServices']}",
                                              "1200125471": "@body('Parse_CommonJSON')?['RiskAssessmentChecklist']?['PotentialOD']",
                                              "1245531911": "@body('Parse_CommonJSON')?['Past4WkUseLedToProblemsWithFamilyFriend']",
                                              "1500857746": "@body('Parse_EntityJSON')?['Staff']",
                                              "1537921105": "@body('Parse_CommonJSON')?['MedicationsNotes']",
                                              "1575171312": "@body('Parse_CommonJSON')?['RelationshipsITSPIssues']",
                                              "1659965317": "@body('Parse_CommonJSON')?['Past4WkPhysicalHealth']",
                                              "1664896857": "@{body('Parse_CommonJSON')?['ClientID']}",
                                              "1705897813": "@body('Parse_Other''sUseJSON')?['ManagingImpactOfOthersAODUse']",
                                              "1900629632": "@body('Parse_CommonJSON')?['ChildProtectionDetails']",
                                              "1966695205": "@body('Parse_CommonJSON')?['Past4WkHowOftenPhysicalHealthCausedProblems']",
                                              "1978343750": "@{body('Parse_CommonJSON')?['AreYouCurrentlyTakingMeds']}",
                                              "1985272862": "@body('Parse_Other''sUseJSON')?['Relationship']",
                                              "1990121010": "@body('Parse_CommonJSON')?['DoYouFeelSafeWhereYouLive']",
                                              "2138217676": "@body('Parse_CommonJSON')?['HousingSafetyITSPGoals']",
                                              "-1010058312": "@body('Parse_CommonJSON')?['EverydayLivingITSPGoals']",
                                              "-1038819709": "@body('Parse_CommonJSON')?['RiskAssessmentChecklist']?['IndicationDV']",
                                              "-1255975963": "@body('Parse_Other''sUseJSON')?['Notes-HowCloseToManagingImpactOfOthersUse']",
                                              "-1274246640": "@triggerBody()?['PartitionKey']",
                                              "-1279867960": "@body('Parse_CommonJSON')?['ExternalReferrals']",
                                              "-1598100073": "@body('Parse_CommonJSON')?['AssessmentDate']",
                                              "-1642492951": "@body('Parse_CommonJSON')?['RiskAssessmentChecklist']?['IndicationSuicide']",
                                              "-1682510468": "@body('Parse_CommonJSON')?['Past4WkQualityOfLifeScore-Comment']",
                                              "-1756510528": "@body('Parse_CommonJSON')?['MHRecentRiskIssues']",
                                              "-1818106127": "@body('Parse_CommonJSON')?['PhysicalHealthITSPGoals']",
                                              "-1828812660": "@body('Parse_CommonJSON')?['Past4WkDifficultyFindingHousing']",
                                              "-1885937971": "@body('Parse_CommonJSON')?['Past4WkMentalHealth']",
                                              "-1917621831": "@body('Parse_CommonJSON')?['RelationshipsITSPGoals']",
                                              "-1928953041": "@body('Parse_CommonJSON')?['ClientType']",
                                              "-195469710": "@body('Parse_EntityJSON')?['SurveyName']",
                                              "-1990476858": "@body('Parse_CommonJSON')?['Past4WkBeenHospCallAmbulanceNotes']",
                                              "-2003271752": "@body('Parse_CommonJSON')?['MHHistoricalRiskIssues']",
                                              "-2101782244": "@body('Parse_CommonJSON')?['Past4WkQualityOfLifeScore']",
                                              "-2121142563": "@body('Parse_CommonJSON')?['SupportFromWhichOtherServices']",
                                              "-256680379": "@{body('Parse_CommonJSON')?['Past4WkBeenHospCallAmbulence']}",
                                              "-266549602": "@body('Parse_Other''sUseJSON')?['SetBoundariesPrioritiseWellbeing']",
                                              "-433441737": "@{body('Parse_CommonJSON')?['Past4WkHadCaregivingResponsibilities']}",
                                              "-496338364": "@body('Parse_CommonJSON')?['HaveDVOrFamilySafetyConcerns']",
                                              "-553697523": "@body('Parse_CommonJSON')?['FinalChecklist']?['FeedbackToReferrer']",
                                              "-584386419": "@body('Parse_CommonJSON')?['HousingSafetyITSPIssues']",
                                              "-657151792": "@{body('Parse_CommonJSON')?['ChildProtectionConcerns']}",
                                              "-674338160": "@body('Parse_CommonJSON')?['RiskAssessmentChecklist']?['IndicationMHRisks']",
                                              "-698153003": "@body('Parse_CommonJSON')?['MentalITSPIssues']",
                                              "-737630564": "@body('Parse_CommonJSON')?['RiskAssessmentNotes']",
                                              "-810102905": "@body('Parse_CommonJSON')?['FinalChecklist']?['ProvidedWithRightsResponsibilities']",
                                              "-859591113": "@body('Parse_CommonJSON')?['FinalChecklist']?['ConsentToShareInfo']",
                                              "-869373847": "@body('Parse_CommonJSON')?['Past4WkHaveYouViolenceAbusive']",
                                              "-874695542": "@body('Parse_EntityJSON')?['Program']",
                                              "-894037910": "@body('Parse_CommonJSON')?['FinalChecklist']?['RiskAssessmentsCompleted']"
                                          },
                                          "host": {
                                              "connection": {
                                                  "name": "@parameters('$connections')['wordonlinebusiness']['connectionId']"
                                              }
                                          },
                                          "method": "post",
                                          "path": "/api/templates/getFile",
                                          "queries": {
                                              "drive": "b!TQEyQLwbT0-Z2YVgt8koSaI3_tjmJYpLlHwfJrThR2zyxCkjY3AESYjwhCrSdR6-",
                                              "file": "01ZYEGLWHSL4SZKZLVSBFZXN6DSFVAWRJZ",
                                              "source": "sites/directionshealth.sharepoint.com,4032014d-1bbc-4f4f-99d9-8560b7c92849,d8fe37a2-25e6-4b8a-947c-1f26b4e1476c"
                                          }
                                      },
                                      "metadata": {
                                          "01ZYEGLWHSL4SZKZLVSBFZXN6DSFVAWRJZ": "/ICT/ANSA/ITSP_Review_OthersUse.docx"
                                      },
                                      "runAfter": {},
                                      "type": "ApiConnection"
                                  },
                                  "Send_an_email_(V2)_4": {
                                      "inputs": {
                                          "body": {
                                              "Attachments": [
                                                  {
                                                      "ContentBytes": "@{base64(body('Populate_ITSP_Summary_OthersUse'))}",
                                                      "Name": "ITSPSummary_@{triggerBody()?['PartitionKey']}_@{triggerBody()?['RowKey']}_OthersUse.docx"
                                                  },
                                                  {
                                                      "ContentBytes": "@{base64(body('Populate_ANSA_ITSP_template'))}",
                                                      "Name": "ITSP_@{triggerBody()?['PartitionKey']}_@{triggerBody()?['RowKey']}_OthersUse.docx"
                                                  }
                                              ],
                                              "Body": "<p>Please ensure the attached summary is uploaded to the client file.<br>\n<br>\nSLK : @{triggerBody()?['PartitionKey']} &nbsp;Client ID: @{body('Parse_CommonJSON')?['ClientID']}<br>\n<br>\nProgram: @{body('Parse_EntityJSON')?['Program']}<br>\nStatus: @{body('Parse_EntityJSON')?['Status']}<br>\nClient Type: @{body('Parse_CommonJSON')?['ClientType']}<br>\n<br>\nSubmitted Date/Time: @{body('Parse_CommonJSON')?['CreatedDatetime']}</p>",
                                              "Cc": "ansa@directionshealth.com",
                                              "From": "directions.admin@directionshealth.com",
                                              "Subject": "ITSP Review; Program:@{body('Parse_EntityJSON')?['Program']}; SLK: @{triggerBody()?['PartitionKey']}",
                                              "To": "@{body('Parse_EntityJSON')?['Staff']}@directionshealth.com"
                                          },
                                          "host": {
                                              "connection": {
                                                  "name": "@parameters('$connections')['office365']['connectionId']"
                                              }
                                          },
                                          "method": "post",
                                          "path": "/v2/Mail"
                                      },
                                      "runAfter": {
                                          "Populate_ITSP_Summary_OthersUse": [
                                              "Succeeded"
                                          ]
                                      },
                                      "type": "ApiConnection"
                                  }
                              }
                          },
                          "expression": {
                              "and": [
                                  {
                                      "contains": [
                                          "@triggerBody()?['RowKey']",
                                          "INAS"
                                      ]
                                  }
                              ]
                          },
                          "runAfter": {
                              "Populate_ANSA_ITSP_template": [
                                  "Succeeded"
                              ]
                          },
                          "type": "If"
                      },
                      "Parse_Other'sUseJSON": {
                          "inputs": {
                              "content": "@body('ANSA_JSFlattener_HttpTrigger')",
                              "schema": {
                                  "properties": {
                                      "HowCloseToManagingImpactOfOthersUse": {
                                          "type": "string"
                                      },
                                      "LegalIssuesDueToOthersUse": {
                                          "type": "boolean"
                                      },
                                      "ManagingImpactOfOthersAODUse": {
                                          "type": "string"
                                      },
                                      "Notes-HowCloseToManagingImpactOfOthersUse": {
                                          "type": "string"
                                      },
                                      "Relationship": {
                                          "type": "string"
                                      },
                                      "SetBoundariesPrioritiseWellbeing": {
                                          "type": "string"
                                      }
                                  },
                                  "type": "object"
                              }
                          },
                          "runAfter": {},
                          "type": "ParseJson"
                      },
                      "Populate_ANSA_ITSP_template": {
                          "inputs": {
                              "body": {
                                  "50195058": "@body('Parse_CommonJSON')?['AssessmentDate']",
                                  "469331166": "@body('Parse_CommonJSON')?['ExternalReferrals']",
                                  "484592442": "@body('Parse_CommonJSON')?['SubstanceUseITSPIssues']",
                                  "1064995651": "@triggerBody()?['PartitionKey']",
                                  "1113486158": "@body('Parse_EntityJSON')?['Program']",
                                  "1291707187": "@body('Parse_CommonJSON')?['HousingSafetyITSPIssues']",
                                  "1471096236": "@body('Parse_CommonJSON')?['PhysicalHealthITSPGoals']",
                                  "1607530346": "@body('Parse_CommonJSON')?['SubstanceUseITSPGoals']",
                                  "1967853575": "@{body('Parse_CommonJSON')?['ClientID']}",
                                  "-1017778733": "@body('Parse_CommonJSON')?['MentalHealthITSPGoals']",
                                  "-1024936368": "@body('Parse_CommonJSON')?['EverydayLivingITSPIssues']",
                                  "-1025090099": "@body('Parse_CommonJSON')?['MentalITSPIssues']",
                                  "-1051228907": "@body('Parse_CommonJSON')?['HousingSafetyITSPGoals']",
                                  "-1320800798": "@body('Parse_CommonJSON')?['SupportFromWhichOtherServices']",
                                  "-1442369389": "@body('Parse_CommonJSON')?['LegalITSPGoals']",
                                  "-1447848428": "@body('Parse_CommonJSON')?['EverydayLivingITSPGoals']",
                                  "-1470898058": "@body('Parse_EntityJSON')?['Staff']",
                                  "-1657986283": "@body('Parse_CommonJSON')?['RelationshipsITSPIssues']",
                                  "-1758742333": "@body('Parse_CommonJSON')?['SupportTypeBestMatchesNeedsGoals']",
                                  "-1911766616": "@body('Parse_CommonJSON')?['RelationshipsITSPGoals']",
                                  "-2035716507": "@body('Parse_CommonJSON')?['PhysicalHealthITSPIssues']",
                                  "-724138621": "@body('Parse_CommonJSON')?['LegalITSPIssues']"
                              },
                              "host": {
                                  "connection": {
                                      "name": "@parameters('$connections')['wordonlinebusiness']['connectionId']"
                                  }
                              },
                              "method": "post",
                              "path": "/api/templates/getFile",
                              "queries": {
                                  "drive": "b!TQEyQLwbT0-Z2YVgt8koSaI3_tjmJYpLlHwfJrThR2zyxCkjY3AESYjwhCrSdR6-",
                                  "file": "01ZYEGLWBE2VL5OU6P2NDIDU4WBVYYGVOH",
                                  "source": "sites/directionshealth.sharepoint.com,4032014d-1bbc-4f4f-99d9-8560b7c92849,d8fe37a2-25e6-4b8a-947c-1f26b4e1476c"
                              }
                          },
                          "metadata": {
                              "01ZYEGLWBE2VL5OU6P2NDIDU4WBVYYGVOH": "/ICT/ANSA/ANSAITSPTemplate.docx"
                          },
                          "runAfter": {
                              "Parse_Other'sUseJSON": [
                                  "Succeeded"
                              ]
                          },
                          "type": "ApiConnection"
                      }
                  }
                }
              },
              "expression": {
                  "and": [
                      {
                          "equals": [
                              "@body('Parse_CommonJSON')?['ClientType']",
                              "ownuse"
                          ]
                      }
                  ]
              },
              "runAfter": {
                  "Parse_CommonJSON": [
                      "Succeeded"
                  ]
              },
              "type": "If"
          },
          "Parse_CommonJSON": {
              "inputs": {
                  "content": "@body('ANSA_JSFlattener_HttpTrigger')",
                  "schema": {
                      "properties": {
                          "AreYouAccessingOtherServices": {
                              "type": "boolean"
                          },
                          "AreYouCurrentlyTakingMeds": {
                              "type": "boolean"
                          },
                          "AssessmentDate": {
                              "type": "string"
                          },
                          "ChildProtectionConcerns": {
                              "type": "boolean"
                          },
                          "ChildProtectionDetails": {
                              "type": "string"
                          },
                          "ClientID": {
                              "type": "integer"
                          },
                          "ClientType": {
                              "type": "string"
                          },
                          "CreatedDatetime": {
                              "type": "string"
                          },
                          "DoYouFeelSafeWhereYouLive": {
                              "type": "string"
                          },
                          "EngagedLookingafterchildrenDays": {
                              "type": "string"
                          },
                          "EngagedLookingafterchildrenFrequency": {
                              "type": "integer"
                          },
                          "EngagedOthercaregivingactivitiesDays": {
                              "type": "string"
                          },
                          "EngagedOthercaregivingactivitiesFrequency": {
                              "type": "integer"
                          },
                          "EngagedPaidWorkDays": {
                              "type": "string"
                          },
                          "EngagedPaidWorkFrequency": {
                              "type": "integer"
                          },
                          "EngagedStudycollegeDays": {
                              "type": "string"
                          },
                          "EngagedStudycollegeFrequency": {
                              "type": "integer"
                          },
                          "EngagedVoluntaryWorkDays": {
                              "type": "string"
                          },
                          "EngagedVoluntaryWorkFrequency": {
                              "type": "integer"
                          },
                          "EverDiagnosedMentalHealthIssue": {
                              "type": "boolean"
                          },
                          "EverydayLivingITSPGoals": {
                              "type": "string"
                          },
                          "EverydayLivingITSPIssues": {
                              "type": "string"
                          },
                          "ExternalReferrals": {
                              "type": "string"
                          },
                          "ExternalReferrals-Comment": {
                              "type": "string"
                          },
                          "FinalChecklist": {
                              "properties": {
                                  "ConsentToShareInfo": {
                                      "type": "string"
                                  },
                                  "FeedbackToReferrer": {
                                      "type": "string"
                                  },
                                  "ProvidedFeedbackComplaintsProc": {
                                      "type": "string"
                                  },
                                  "ProvidedWithRightsResponsibilities": {
                                      "type": "string"
                                  },
                                  "RiskAssessmentsCompleted": {
                                      "type": "string"
                                  }
                              },
                              "type": "object"
                          },
                          "FirstName": {
                              "type": "string"
                          },
                          "HaveAnySocialSupport": {
                              "type": "string"
                          },
                          "HaveAnySocialSupport-Comment": {
                              "type": "string"
                          },
                          "HaveDVOrFamilySafetyConcerns": {
                              "type": "string"
                          },
                          "HaveDVOrFamilySafetyConcerns-Comment": {
                              "type": "string"
                          },
                          "HealthChecklist_STAFF": {
                              "properties": {
                                  "BBVScreening": {
                                      "type": "string"
                                  },
                                  "Dental": {
                                      "type": "string"
                                  },
                                  "SexualHealth": {
                                      "type": "string"
                                  },
                                  "Vaccinations": {
                                      "type": "string"
                                  }
                              },
                              "type": "object"
                          },
                          "HousingSafetyITSPGoals": {
                              "type": "string"
                          },
                          "HousingSafetyITSPIssues": {
                              "type": "string"
                          },
                          "HowDoYouSpendTime": {
                              "properties": {
                                  "AODSourcingUsing": {
                                      "type": "string"
                                  },
                                  "FamilyHome": {
                                      "type": "string"
                                  },
                                  "HobbiesSportsRecreation": {
                                      "type": "string"
                                  },
                                  "MUTOther": {
                                      "type": "string"
                                  },
                                  "MeTime": {
                                      "type": "string"
                                  },
                                  "OtherBehavioursDependence": {
                                      "type": "string"
                                  },
                                  "WorkOrStudy": {
                                      "type": "string"
                                  }
                              },
                              "type": "object"
                          },
                          "HowImportantIsChangeToYou": {
                              "type": "string"
                          },
                          "HowImportantIsChangeToYou-Comment": {
                              "type": "string"
                          },
                          "LastName": {
                              "type": "string"
                          },
                          "LegalITSPGoals": {
                              "type": "string"
                          },
                          "LegalITSPIssues": {
                              "type": "string"
                          },
                          "MHHistoricalRiskIssues": {
                              "type": "string"
                          },
                          "MHHistoricalRiskIssues-Comment": {
                              "type": "string"
                          },
                          "MHRecentRiskIssues": {
                              "type": "string"
                          },
                          "MHRecentRiskIssues-Comment": {
                              "type": "string"
                          },
                          "MedicationsNotes": {
                              "type": "string"
                          },
                          "MentalHealthITSPGoals": {
                              "type": "string"
                          },
                          "MentalHealthITSPIssues": {
                              "type": "string"
                          },
                          "MentalITSPIssues": {
                              "type": "string"
                          },
                          "Past4WkBeenHospCallAmbulanceNotes": {
                              "type": "string"
                          },
                          "Past4WkBeenHospCallAmbulence": {
                              "type": "boolean"
                          },
                          "Past4WkDailyLivingImpacted": {
                              "type": "string"
                          },
                          "Past4WkDifficultyFindingHousing": {
                              "type": "string"
                          },
                          "Past4WkHadCaregivingResponsibilities": {
                              "type": "boolean"
                          },
                          "Past4WkHaveYouViolenceAbusive": {
                              "type": "string"
                          },
                          "Past4WkHaveYouViolenceAbusive-Comment": {
                              "type": "string"
                          },
                          "Past4WkHowOftenMentalHealthCausedProblems": {
                              "type": "string"
                          },
                          "Past4WkHowOftenPhysicalHealthCausedProblems": {
                              "type": "string"
                          },
                          "Past4WkMentalHealth": {
                              "type": "string"
                          },
                          "Past4WkPhysicalHealth": {
                              "type": "string"
                          },
                          "Past4WkQualityOfLifeScore": {
                              "type": "string"
                          },
                          "Past4WkQualityOfLifeScore-Comment": {
                              "type": "string"
                          },
                          "Past4WkUseLedToProblemsWithFamilyFriend": {
                              "type": "string"
                          },
                          "PhysicalHealthITSPGoals": {
                              "type": "string"
                          },
                          "PhysicalHealthITSPIssues": {
                              "type": "string"
                          },
                          "PrimaryCaregiver": {
                              "type": "string"
                          },
                          "PrimaryCaregiver-Comment": {
                              "type": "string"
                          },
                          "RelationshipsITSPGoals": {
                              "type": "string"
                          },
                          "RelationshipsITSPIssues": {
                              "type": "string"
                          },
                          "RiskAssessmentChecklist": {
                              "properties": {
                                  "IndicationDV": {
                                      "type": "string"
                                  },
                                  "IndicationMHRisks": {
                                      "type": "string"
                                  },
                                  "IndicationSuicide": {
                                      "type": "string"
                                  },
                                  "PotentialOD": {
                                      "type": "string"
                                  }
                              },
                              "type": "object"
                          },
                          "RiskAssessmentNotes": {
                              "type": "string"
                          },
                          "SubstanceUseITSPGoals": {
                              "type": "string"
                          },
                          "SubstanceUseITSPIssues": {
                              "type": "string"
                          },
                          "SupportFromWhichOtherServices": {
                              "type": "string"
                          },
                          "SupportFromWhichOtherServices-Comment": {
                              "type": "string"
                          },
                          "SupportTypeBestMatchesNeedsGoals": {
                              "type": "string"
                          },
                          "SupportTypeBestMatchesNeedsGoals-Comment": {
                              "type": "string"
                          },
                          "WhenMentalHealthDiagnosis": {
                              "type": "string"
                          },
                          "WhenMentalHealthDiagnosis-Comment": {
                              "type": "string"
                          },
                          "YourCurrentHousing": {
                              "type": "string"
                          }
                      },
                      "type": "object"
                  }
                },
                "type": "object"
              },
              "runAfter": {
                  "ANSA_JSFlattener_HttpTrigger": [
                      "Succeeded"
                  ]
              },
              "HaveAnySocialSupport": {
                "type": "string"
              },
              "HaveAnySocialSupport-Comment": {
                "type": "string"
              },
              "HaveDVOrFamilySafetyConcerns": {
                "type": "string"
              },
              "HaveDVOrFamilySafetyConcerns-Comment": {
                "type": "string"
              },
              "HealthChecklist_STAFF": {
                "properties": {
                  "BBVScreening": {
                    "type": "string"
                  },
                  "Dental": {
                    "type": "string"
                  },
                  "SexualHealth": {
                    "type": "string"
                  },
                  "Vaccinations": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "HousingSafetyITSPGoals": {
                "type": "string"
              },
              "kind": "Http",
              "runAfter": {
                  "OwnUse_or_Other'sUse": [
                      "Succeeded"
                  ]
              },
              "Past4WkUseLedToProblemsWithFamilyFriend": {
                "type": "string"
              },
              "PhysicalHealthITSPGoals": {
                "type": "string"
              },
              "PhysicalHealthITSPIssues": {
                "type": "string"
              },
              "PrimaryCaregiver": {
                "type": "string"
              },
              "PrimaryCaregiver-Comment": {
                "type": "string"
              },
              "RelationshipsITSPGoals": {
                "type": "string"
              },
              "RelationshipsITSPIssues": {
                "type": "string"
              },
              "RiskAssessmentChecklist": {
                "properties": {
                  "IndicationDV": {
                    "type": "string"
                  },
                  "IndicationMHRisks": {
                    "type": "string"
                  },
                  "IndicationSuicide": {
                    "type": "string"
                  },
                  "PotentialOD": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "RiskAssessmentNotes": {
                "type": "string"
              },
              "SubstanceUseITSPGoals": {
                "type": "string"
              },
              "SubstanceUseITSPIssues": {
                "type": "string"
              },
              "SupportFromWhichOtherServices": {
                "type": "string"
              },
              "SupportFromWhichOtherServices-Comment": {
                "type": "string"
              },
              "SupportTypeBestMatchesNeedsGoals": {
                "type": "string"
              },
              "SupportTypeBestMatchesNeedsGoals-Comment": {
                "type": "string"
              },
              "WhenMentalHealthDiagnosis": {
                "type": "string"
              },
              "WhenMentalHealthDiagnosis-Comment": {
                "type": "string"
              },
              "YourCurrentHousing": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "runAfter": {
          "ANSA_JSFlattener_HttpTrigger": ["Succeeded"]
        },
        "type": "ParseJson"
      },
      "Parse_EntityJSON": {
        "inputs": {
          "content": "@triggerBody()?['EntityJSON']",
          "schema": {
            "properties": {
              "Program": {
                "type": "string"
              },
              "Staff": {
                "type": "string"
              },
              "Status": {
                "type": "string"
              },
              "SurveyData": {
                "type": "string"
              },
              "SurveyID": {
                "type": "string"
              },
              "SurveyName": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "runAfter": {},
        "type": "ParseJson"
      },
      "Response": {
        "inputs": {
          "body": "ANSAEmailer",
          "statusCode": 200
        },
        "kind": "Http",
        "runAfter": {
          "OwnUse_or_Other'sUse": ["Succeeded"]
        },
        "type": "Response"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "manual": {
        "inputs": {
          "method": "POST",
          "schema": {
            "properties": {
              "Entity": {
                "type": "string"
              },
              "EntityJSON": {
                "type": "object"
              },
              "PartitionKey": {
                "type": "string"
              },
              "RowKey": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "kind": "Http",
        "type": "Request"
      }
    }
  },
  "parameters": {
    "$connections": {
      "value": {
        "office365": {
          "connectionId": "/subscriptions/e1a42143-a624-4e4e-809d-d1271b8b0d29/resourceGroups/ansa/providers/Microsoft.Web/connections/office365-4",
          "connectionName": "office365-4",
          "id": "/subscriptions/e1a42143-a624-4e4e-809d-d1271b8b0d29/providers/Microsoft.Web/locations/australiaeast/managedApis/office365"
        },
        "wordonlinebusiness": {
          "connectionId": "/subscriptions/e1a42143-a624-4e4e-809d-d1271b8b0d29/resourceGroups/ansa/providers/Microsoft.Web/connections/wordonlinebusiness-1",
          "connectionName": "wordonlinebusiness-1",
          "id": "/subscriptions/e1a42143-a624-4e4e-809d-d1271b8b0d29/providers/Microsoft.Web/locations/australiaeast/managedApis/wordonlinebusiness"
        }
      }
    }
  }
}
