src/api/TableStoreUpsert.json
{
  "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
          "Condition": {
              "actions": {
                  "Insert_Entity": {
                      "inputs": {
                          "body": "@triggerBody()?['EntityJSON']",
                          "host": {
                              "connection": {
                                  "name": "@parameters('$connections')['azuretables']['connectionId']"
                              }
                          },
                          "method": "post",
                          "path": "/Tables/@{encodeURIComponent(triggerBody()?['Entity'])}/entities"
                      },
                      "runAfter": {},
                      "type": "ApiConnection"
                  },
                  "Response": {
                      "inputs": {
                          "body": {
                              "result": "ok"
                          },
                          "headers": {
                              "Content-Type": "application/json"
                          },
                          "statusCode": 200
                      },
                      "kind": "Http",
                      "runAfter": {
                          "Insert_Entity": [
                              "Succeeded"
                          ]
                      },
                      "type": "Response"
                  }
              },
              "else": {
                  "actions": {
                      "Replace_Entity": {
                          "inputs": {
                              "body": "@triggerBody()?['EntityJSON']",
                              "headers": {
                                  "If-Match": "*"
                              },
                              "host": {
                                  "connection": {
                                      "name": "@parameters('$connections')['azuretables']['connectionId']"
                                  }
                              },
                              "method": "put",
                              "path": "/Tables/@{encodeURIComponent(triggerBody()?['Entity'])}/entities/etag(PartitionKey='@{encodeURIComponent(triggerBody()?['PartitionKey'])}',RowKey='@{encodeURIComponent(triggerBody()?['RowKey'])}')"
                          },
                          "runAfter": {},
                          "type": "ApiConnection"
                      },
                      "Response_2": {
                          "inputs": {
                              "body": {
                                  "result": "ok"
                              },
                              "headers": {
                                  "Content-Type": "application/json"
                              },
                              "statusCode": 200
                          },
                          "kind": "Http",
                          "runAfter": {
                              "Replace_Entity": [
                                  "Succeeded"
                              ]
                          },
                          "type": "Response"
                      }
                  }
              },
              "expression": {
                  "and": [
                      {
                          "not": {
                              "equals": [
                                  "@triggerBody()?['Operation']",
                                  "'update'"
                              ]
                          }
                      }
                  ]
              },
              "runAfter": {},
              "type": "If"
          }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
          "$connections": {
              "defaultValue": {},
              "type": "Object"
          }
      },
      "triggers": {
          "manual": {
              "inputs": {
                  "method": "POST",
                  "schema": {
                      "properties": {
                          "Entity": {
                              "type": "string"
                          },
                          "EntityJSON": {
                              "type": "object"
                          },
                          "Operation": {
                              "type": "string"
                          },
                          "PartitionKey": {
                              "type": "string"
                          },
                          "RowKey": {
                              "type": "string"
                          }
                      },
                      "type": "object"
                  }
              },
              "kind": "Http",
              "type": "Request"
          }
      }
  },
  "parameters": {
      "$connections": {
          "value": {
              "azuretables": {
                  "connectionId": "/subscriptions/e1a42143-a624-4e4e-809d-d1271b8b0d29/resourceGroups/ansajs/providers/Microsoft.Web/connections/azuretables",
                  "connectionName": "azuretables",
                  "id": "/subscriptions/e1a42143-a624-4e4e-809d-d1271b8b0d29/providers/Microsoft.Web/locations/australiaeast/managedApis/azuretables"
              }
          }
      }
  }
}